.container {
    margin-top: 0vw;
    padding-top: 0vw;
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)), url('../public/static/bg.png');
    background-size: cover;
}

.container2 {
    text-align: center;
    color: rgba(211, 211, 211, 1);
    font-size: 1.3vw;
    font-style: normal;
    position: relative;
}

.about{
    text-align: center;
    color: rgba(211, 211, 211, 1);
    font-weight: 700;
    font-size: 2.6vw;
    font-style: normal;
}

.cont {
    padding-top: 1vw;
    padding-bottom: 18vw;
}

.logo {
    margin-top: 1.5vw;
    width: 10vw;
    height: auto;
}

.image {
    width: 3vw;
    height: auto;
    margin-left: 1.5vw;
}

.title {
    margin-top: 2vw;
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    background: linear-gradient(92.42deg, #BD63C3 23.03%, #3E15A0 88.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* font-family: 'Montserrat'; */
    font-style: normal;
    /* text-fill-color: transparent; */
}

.iit {
    text-align: center;
    font-size: 6vw;
    font-weight: 700;
    color: white;
}

.think {
    text-align: center;
    font-size: 2.5vw;
    color: #D3D3D3E5;
    margin-bottom: 8vw;
}

.images {
    /* display: inline-block; */
    width: 2vw;
    height: auto;
    margin-left: 1vw;
}

.box {
    display: flex;
    justify-content: center;
    padding-bottom: 15vw;
}

@media (max-width: 1100px) {
    .about {
        font-size: 3.5vw;
    }
    .cont{
        font-size: 1.6vw;
    }
    .logo {
        width: 12vw;
        height: auto;
    }

    .title {
        font-size: 6vw;
    }

    .iit {
        font-size: 5vw;
    }

    .think {
        font-size: 2.6vw;
    }

    .images {
        width: 2.6vw;
        height: auto;
        margin-left: 2vw;
    }
}

@media (max-width: 800px) {
    .about{
        font-size: 4vw;
        margin-bottom: 5vw;
    }
    .logo {
        width: 20vw;
        height: auto;
    }

    .title {
        font-size: 8vw;
    }

    .iit {
        font-size: 7vw;
    }

    .think {
        font-size: 3.5vw;
    }

    .images {
        width: 3.5vw;
        height: auto;
        margin-left: 2vw;
    }

    .cont{
        font-size: 2.1vw;
    }
}