html,
body {
  padding: 0vw;
  margin: 0vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #1b1a17;
  height: 5rem;
  width: 5rem;
  position: fixed;
  border-radius: 50%;
  top: 4rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(#413f42, #1b1a17);
  top: 4.5rem;
  right: 4.5rem;
  position: fixed;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  transition: all 0.8s;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  padding: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  background-size: cover;
  text-transform: uppercase;
  text-decoration: none;
  color: #7a4daf;
  background-size: 235%;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #7a4daf 50%
  );
  transition: all 0.4s;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem);
}
.navigation__link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0;
}
.navigation__icon {
  position: relative;
  margin-top: 2.6rem;
}
.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  width: 2rem;
  height: 2.4px;
  background-color: #7a4daf;
  display: inline-block;
}
.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}
@media screen and (min-width: 600px) {
  .navigation__button:hover .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__button:hover .navigation__icon::after {
    top: 0.8rem;
  }
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
} /*# sourceMappingURL=main.css.map */
