@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0vw;
  margin: 0vw;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 1);
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

/* $primary-color: $my-brand-color; */

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #000;
  height: 5rem;
  width: 5rem;
  position: fixed;
  border-radius: 50%;
  top: 4rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(0.1px);
  top: 4.5rem;
  right: 4.5rem;
  position: fixed;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__nav {
  height: 100vh;
  width: 0%;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1500;
  transition: all 0.8s;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__item {
  padding: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.3rem 2rem;
  background-size: cover;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: white;
  background-size: 235%;
  transition: all;
  /* background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #6048fd 50%
  ); */

  transition: all 0.4s;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #000;
  font-weight: 700;
  transform: translateX(0.7rem);
  background: -webkit-linear-gradient(120deg, #20a3fa 23.03%, #3e15a0 88.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation__link span {
  display: inline-block;
  margin-right: 1.5rem;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0;
}
.navigation__icon {
  position: relative;
  margin-top: 2.6rem;
}
.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
  width: 2rem;
  height: 2.4px;
  background-color: white;
  display: inline-block;
}
.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.6rem;
}
.navigation__icon::after {
  top: 0.6rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
} /*# sourceMappingURL=main.css.map */

@media screen and (max-width: 600px) {
  .navigation__button {
    height: 3rem;
    width: 3rem;
    top: 2rem;
    right: 2rem;
  }
  .navigation__background {
    height: 2rem;
    width: 2rem;
    top: 2.5rem;
    right: 2.5rem;
    position: fixed;
  }
  .navigation__icon,
  .navigation__icon::after,
  .navigation__icon::before {
    width: 1.8rem;
  }
  .navigation__icon {
    position: relative;
    margin-top: 1.5rem;
  }
  .navigation__icon::before {
    top: -0.4rem;
  }
  .navigation__icon::after {
    top: 0.4rem;
  }
  .navigation__link:link,
  .navigation__link:visited {
    font-size: 1.5rem;
    padding: 0.1rem 0rem;
    margin-left: -2rem;
    background-size: 235%;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #1b6cff, #da46ff);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  -webkit-text-fill-color: transparent;
}

.desc-enter {
  opacity: 0;
}
.desc-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.desc-exit {
  opacity: 1;
}
.desc-active {
  opacity: 0;
  transition: opacity 200ms;
}
