.events {
    margin-bottom: 3vw;
    font-style: normal;
    font-size: 5vw;
    font-weight: 700;
    background: linear-gradient(93.82deg, rgba(56, 128, 231, 1) 0.01%, rgba(98, 215, 216, 1) 38.13%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.grid{
    color:white;
    position: relative;
    text-align: left;
}
.list{
    line-height: 5vw;
    font-size: 1.5vw;
    list-style-type: none;
}
.head{
    font-weight:700 ;
    font-size: 2.5vw;
}




.box2{
    padding-left: 3vw;
}
.content{
    text-align: center;
    font-size: 1.3vw;
    /* margin-left: 2.5vw;
    margin-top: 3vw; */
}
.border{
    margin-top: 2vw;
    border-right: double 0.3vw transparent;
    background-image: linear-gradient(black,black),
    linear-gradient(213.08deg, #BD63C3 20.56%, #3E15A0 74.74%);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.border1{
    margin-top: 6vw;
    margin-bottom: 3vw;
    border-right: double 0.3vw transparent;
    background-image: linear-gradient(black,black),
    linear-gradient(213.08deg, #BD63C3 20.56%, #3E15A0 74.74%);
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.container{
    padding: 0 10rem;
}

.content{
    padding :0;
}

@media (max-width:1100px){
    .border{
        margin-top: 2vw;
    }
    .box{
        font-size: 1.8vw;
    }
    .head{
        font-size: 3.3vw;
    }
    .content{
        font-size: 1.4vw;
    }
    .list{
        line-height: 7vw;
    }
    .box2{
        font-size: 1.8vw;
    }
}

@media (max-width: 900px){
    .list{
        display: flex;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        gap: 0rem;
        touch-action: pan-x;
        box-shadow:inset 5px 0 5px -5px rgba(0, 0, 0, 0.571),inset
-5px 0 5px -5px rgba(0, 0, 0, 0.571);
    }
    .list button{
        min-width: 18ch;
        width: max-content;
        font-size: 1rem;
    }
    .container{
        padding: 0 ;
    }
    .list::-webkit-scrollbar{
        display: none;
    }
}


@media(max-width: 900px){
    .events{
        text-align: center;
    }
    .content{
        margin: 0 3.4rem;
    }
}

@media (max-width:800px){
    .head{
        font-size: 3.5vw;
    }
    .list{
        line-height: 7.5vw;
        
    }
    .content{
        font-size: 1.6vw;
        margin: 0 3rem;
    }
    .events{
        font-size: 5vw;
        text-align: center;
    }
    .head{
        font-size: 3.4vw;
    }
    .box2{
        margin-top: 16vw;
    }
    .border1{
        margin-top: 10vw;
        margin-bottom: 6vw;
    }
}


@media(max-width:600px){
    .box{
        font-size: 1rem;
    }
    .box2{
        font-size: 2.1vw;
    }
    .content{
        font-size: 2.4vw;
    }
    .list{
        line-height: 8vw;
    }
    .events{
        font-size: 7vw;
        text-align: center;
    }
}

@media (max-width:500px){
    .events{
        font-size: 2rem;
        text-align: center;
    }
    .head{
        font-size: 4vw
    }
    .list{
        line-height: 8vw;
        padding: 1rem 0;
    }

    .list button{
        min-width: 18ch;
        width: max-content;
        font-size: 1rem;
    }

    .content{
        font-size: 2rem;
    }
    .box{
        margin-top: 0;  
    }
    .box2{
        margin-top: 24vw;
    }
    .border1{
        margin-top: 10vw;
        margin-bottom: 6vw;
        border-right: double 0.7vw transparent;
    }
    .border{
        border-right: double 0.7vw transparent;
    }
}

@media (max-width: 350px){
    .content{
        margin:  1rem;
    }
}


